* {
    background-color: lightblue;
}
body {
    margin: 0;
    padding: 0;}
#gameArea {
    position: fixed;
    top: 30px;
    left: 30px;
    border: wheat 3px solid;
    background-color: darkgreen;
}
#square {
    position: absolute;
    background-color: black;
}
#ball {
    position: absolute;
    background-color: white;
}
#score {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: large;
    color: darkmagenta;
    font-weight: bold;
    font-family: "Book Antiqua", serif;
    border: blue 5px solid;
}
