body {
    margin: 0;
    padding: 0;
}

#gameArea {
    position: fixed;
    top: 30px;
    left: 30px;
    border: darkblue 1px solid;
}

#square {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
}